{% extends "admin/base_site.html" %}

{% block extrahead %}
<!-- -->
<script type="text/javascript">
/* <![CDATA[ */
(function() {
  var saved = window.onload;
  var hash = window.location.hash;
  window.onload = function() {
    saved && saved();
    var elements = document.getElementsByTagName("a");
    for(var i = 0; i< elements.length; i++) {
      if("#" + elements[i].getAttribute("name") == hash) {
        elements[i].parentNode.setAttribute("style", "border: 3px solid red;");
      }
    }
  }
})();
/* ]]> */
</script>

<!-- ajax save -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>

<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    var Last_Responce = null,
        options = {
            success: function code_updated(data, status, xhr) {
                Last_Responce = data;
                var errors = $(data).find('.errorlist, .error');
                if (errors.length == 0) {
                    alert("Code updated!");
                } else {
                    alert("Update failed!\n" + errors.text());
                };
            },
            beforeSerialize: function($form, options) {
                console.log('SAVE!');
            },
            beforeSend: function (xhr, settings) {
                var csrftoken = Cookies.get('csrftoken');

                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            data: {
                content: function () {
                    return editor_content.doc.getValue();   
                }
            }
        }

    $(document).ready(function() {
        $('#site_form').ajaxForm(options);

        document.addEventListener("keydown", function(e) {
            if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
                console.log('ctrl-s detect!');
                $('#site_form').ajaxSubmit(options);
            }
        }, false);

        $('#content-main').prepend('<span>Save <b>Ctrl+s</b>! Help <b>Ctrl+h</b>!</span>');
    });

</script>
{% endblock %}
