{% extends "templatesadmin/base.html" %}

{% load i18n static %}
{% load templatesadmin_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url 'admin:app_list' 'templatesadmin' %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
    {% trans "File selection" %}
</div>
{% endblock %}

{% block title %}Templatesadmin Overview{% endblock %}

{% block content_title %}
    <h1>{% trans "Templatesadmin Overview" %}</h1>
{% endblock %}

{% block content %}
    {% for template in template_dict %}
        {% ifchanged template.rootpath %}
        {% if not forloop.first %}
            </tbody>
        </table>
        </div>
        {% endif %}
        <div class="module">
        <a name="{{ template.rootpath }}"></a>
        <h2>{{ template.rootpath }}</h2>
        <table cellspacing="0" style="width: 100%;">
            <thead>
                <tr>
                    <th>{% trans "File" %}</th>
                    <th class="r">{% trans "Modified" %}</th>
                </tr>
            </thead>
            <tbody>
        {% endifchanged %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td style="width: 99%;">
                        {% if not template.writeable %}<img src="{% static 'admin/img/icon-no.gif' %}" alt="{% trans "(read only)" %}" title="{% trans "This template is not writeable." %}" />{% endif %}
                        <a href="{% url 'admin:templatesadmin_ftemplate_change' template.abspath %}">{{ template.abspath|shortenfilepath }}</a></td>
                    <td style="white-space: nowrap;" class="r">{{ template.modified|date:_("DATETIME_FORMAT") }}</td>
                </tr>
    {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}
